* {
 margin: 0; padding: 0; box-sizing: border-box; 
} 
 h1 { 
 margin-bottom: 1em; 
 }  
 header { 
 background-color: yellow; 
 padding: 20px; 
 } 
 header p {
 margin-top: 20px; 
 font-family: sans-serif;
} 
 button { 
margin-top: 20px; 
margin-bottom: 40px; 
font-size: 20px; border-radius: 20px; 
border: 2px solid red;
background-color: red;
color: white;
padding: 10px 20px;
cursor: pointer;
transition:
background-color 0.3s ease; 
} 
footer { 
    background-color: rgb(0, 0, 0); 
    padding: 20px; 
    color: chartreuse;
    } 
.img-delate{
    display: none;
}